.main{
  display:grid;
  grid-template-rows: 0.1fr 0.4fr 1fr 1fr 1fr 1fr;
  grid-gap: 3em;
  justify-content: center;
}

.main > div{
  background-color: #ffffff;
  justify-content: center;
}

.content{
  font-family: Roboto;
  font-size: 20px;
  font-weight:300;
  text-align:left;
  margin-left: 10em;
  margin-right: 10em;
  justify-content: center
}
img{
  margin-left: auto;
  margin-right:auto;
  display:block;
}

.heading{
  font-family: Lobster;
  font-size: 50px;
  font-weight: 700px;
  text-align: center;
  justify-content: center;
  margin-top: 1em;
  width:100%;
}

.zone-heading{
  font-family: Roboto;
  font-size: 40px;
  font-weight: 500px;
  text-align:left;
  margin-left: 4em;
  margin-right: 4em;
  justify-content: center;
}

.whitebox{
  display:grid;
  /* grid-template-rows: 1fr 3fr 4fr 4fr; */
  justify-content: center;
  grid-gap: 2em;
}

.bold{
  font-family: Roboto;
  font-size: 30px;
  font-weight: 400px;
  text-align:left;
}